<p id="notice"><%= notice %></p>

<h1>Listing Body Parameters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Weight</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @body_parameters.each do |body_parameter| %>
      <tr>
        <td><%= body_parameter.user_id %></td>
        <td><%= body_parameter.weight %></td>
        <td><%= body_parameter.height %></td>
        <td><%= link_to 'Show', body_parameter %></td>
        <td><%= link_to 'Edit', edit_body_parameter_path(body_parameter) %></td>
        <td><%= link_to 'Destroy', body_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Body parameter', new_body_parameter_path %>
